.request-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}

.request-section {
  padding: 16px;
}

/* Settle Button */
.settle-button {
  padding: 8px 16px;
  margin-left: 12px;
  margin-right: 12px;
  background-color: rgb(26, 82, 160);;
  color: white;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}
.settle-button:hover {
  background-color: rgb(28, 100, 194);
}

/* Export Button */
.export-button {
  padding: 8px 16px;
  margin-left: 12px;
  margin-right: 12px;
  background-color: rgb(26, 82, 160);
  color: white;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}
.export-button:hover {
  background-color: rgb(28, 100, 194);
}

/* Receipt Link */
.receipt-link {
  color: black;
  text-decoration: underline;
}