/* 共用樣式 */
.user-pending-request-section {
  padding: 16px;
}

.request-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
}

.action-button {
  padding: 8px 16px;
  margin-left: 8px;
  margin-right: 8px;
  color: white;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

.modify-button {
  background-color: rgb(26, 82, 160);
}
.modify-button:hover {
  background-color: rgb(28, 100, 194);
}

.delete-button {
  background-color: rgb(209, 17, 17);
}
.delete-button:hover {
  background-color: rgb(228, 12, 12);
}

.receipt-link {
  color: black;
  text-decoration: underline;
}