.header {
  position: sticky;
  top: 0px;
  width: 100%;
  height: 80px;
  background-color: rgb(7, 8, 10);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 10;
}

.dashboard-title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.dashboard-title h1 {
  display: flex;
  font-size: 28px;
  font-weight: bold;
  margin: 5px;
}

.user-actions {
  display: flex;
  align-items: center;
}