/* === Layout Container === */
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout-body {
  position: relative;
  display: flex;
  flex: 1;
  overflow-y: auto;
}

.layout-main {
  display: flex;
  flex: 1;
}

/* === Content === */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content-body {
  flex: 1;
  padding: 1.5rem;
  overflow-y: auto;
  min-width: 0;
}

.content-body table {
  width: 100%;
  table-layout: auto;
}