.screen {
  display: flex;
  height: 100vh;
  background-color: #f7fafc;
}

.sideBar {
  display: flex;
  flex-direction: column;
  width: 256px;
  background-color: #1d1d1f;
  color: #ffffff;
  padding: 24px;
}

.sideBar button {
  text-align: left;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
}

.sideBar button :hover {
  background-color: #3f404e;
}

.sideBar button :active {
  background-color: #111111;
}
